.container {
  background: #323649;
  height: calc(100% - 90px);
}

.items {
  padding: 15px;
  margin: 15px 0 15px 0;
}

.item {
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  background: #4c5370;
  padding: 10px;
  border-radius: 5px;
}
