.container {
  background: #323649;
  height: calc(100% - 90px);
}

.items {
  padding: 15px;
  margin: 15px 0 15px 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;
  font-size: 12px;
}

.item {
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  background: #4c5370;
  padding: 10px;
  border-radius: 5px;
}

.genreItem {
  margin-bottom: 5px;
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  user-select: none;
}

.genreText {
  cursor: pointer;
}

.genreCircle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #f96a10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 9px;
  font-weight: 600;
  cursor: pointer;
}

.selectedGenreCircle {
  background: #323649;
  border: 1px solid white;
}
